[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

tensorflow = "*"
opencv-python = "*"
pandas = "*"
numpy = "*"
floyd-cli = "*"


[requires]

python_version = "2.7"
